<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.iot.mapper.AreaDataMapper">

    <resultMap type="AreaData" id="AreaDataResult">
        <result property="id" column="id" />
        <result property="type" column="type"/>
        <result property="rid" column="rid"/>
        <result property="rname" column="rname"/>
        <result property="riverdata" column="riverdata"/>
        <result property="tempdata" column="tempdata"/>
        <result property="raindata" column="raindata"/>
        <result property="time" column="time"/>
    </resultMap>

    <select id="selectDataByRname" parameterType="String" resultMap="AreaDataResult">
        select * from vw_data where rid in(select a.rid from areatel a where a.rname=#{rname});
    </select>
</mapper>