<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.iot.mapper.SecWarnMapper">
    <resultMap type="Secwarn" id="SecurityResult">
        <result property="rain" column="rain" />
        <result property="time" column="time"/>
        <result property="pm" column="pm"/>
        <result property="content" column="content"/>
    </resultMap>

    <select id="selectRainSecList" resultMap="SecurityResult">
        select
          rain,
          time
        from
          env_data
        where rain>0
        order by time ASC
    </select>

    <select id="selectPmSecList" resultMap="SecurityResult">
        select
          pm,
          time
        from
          env_data
        where pm>0
        order by time ASC
    </select>

    <select id="selectTempSecList" resultMap="SecurityResult">
        select
          temp,
          time
        from
          env_data
        order by time ASC
    </select>

    <select id="selectWlvlSecList" resultMap="SecurityResult">
        select
          wlevel,
          time
        from
          env_data
        order by time ASC
    </select>

    <select id="selectHumSecList" resultMap="SecurityResult">
        select
          hum,
          time
        from
          env_data
        order by time ASC
    </select>

    <select id="selectTypeSecList" resultMap="SecurityResult">
        select
          content,
          secnum
        from
          secwarning
    </select>
</mapper>