<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.iot.mapper.UserTerMapper">

    <resultMap type="UserTerminals" id="UserTerminalsResult">
        <id property="id" column="id"/>
        <result property="userid" column="userid"/>
        <result property="tid" column="tid"/>
        <result property="creatime" column="creatime"/>
        <result property="isuse" column="isuse"/>
        <result property="lasttime" column="lasttime" jdbcType="DATE"/>
        <result property="day" column="day"/>
        <result property="status" column="status"/>
        <result property="managerid" column="managerid"/>
    </resultMap>

    <resultMap id="TerManagerResult" type="TerManager">
        <result property="tid" column="tid"/>
        <result property="managerid" column="managerid"/>
        <result property="managertel" column="managertel"/>
        <result property="status" column="status"/>
        <result property="isuse" column="isuse"/>
    </resultMap>

    <select id="selectTerInvalid" resultMap="UserTerminalsResult">
        select a.tid,a.userid,a.lasttime,to_days(now())-to_days(a.lasttime)as day,b.status,b.managerid
        from user_terminals a join ter_manager b on a.tid=b.tid and b.isuse =0 order by status,lasttime
    </select>

    <update id="updateTid" parameterType="Integer">
        update ter_manager set isuse=1 where tid=#{tid};
    </update>
</mapper>