<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.iot.mapper.UserTerMapper">

    <resultMap type="UserTerminals" id="UserTerResult">
        <id property="id" column="id"/>
        <result property="userid" column="userid"/>
        <result property="tid" column="tid"/>
        <result property="creatime" column="creatime"/>
        <result property="isuse" column="isuse"/>
        <result property="lasttime" column="lasttime" jdbcType="DATE"/>
        <result property="day" column="day"/>
        <result property="status" column="status"/>
        <result property="managerid" column="managerid"/>
    </resultMap>

<!--    <sql id="UserTer">-->
<!--        id,userid,teid,comstand,note,broadtel,broadfre,intertime,creatime,isuse,-->
<!--        lasttime,to_days(now())_to_days(lasttime)as day,rds,fmfrequency,trafficlimit-->
<!--    </sql>-->

    <select id="selectTerInvalid" resultMap="UserTerResult">
        select a.tid,a.userid,a.lasttime,to_days(now())-to_days(a.lasttime)as day,b.status,b.managerid
        from user_terminals a join ter_manager b on a.tid=b.tid and b.isuse =0 order by status,lasttime
    </select>
</mapper>