<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>摄像头面板</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.75">

    <style>
        .booth {
            width:400px;
            margin-left: 100px;
            border:1px solid #2F4056;
        }
    </style>

</head>
<body class="gray-bg">
<p align="center" style="font-size: 40px;color: #2F4056;">摄像头数据</p>
<div id="colee_left" style="overflow:hidden;width:500px;margin-left: 800px;margin-top: 40px;position: absolute">
    <table cellpadding="0" cellspacing="0" border="0">
        <tr><td id="colee_left1" valign="top" align="right">
            <table cellpadding="2" cellspacing="0" border="0">
                <tr align="right">
                    <td><p><img th:src="@{/img/csgo1.jpg}"></p></td>
                    <td><p><img th:src="@{/img/csgo2.jpg}"></p></td>
                    <td><p><img th:src="@{/img/csgo3.jpg}"></p></td>
                    <td><p><img th:src="@{/img/csgo4.jpg}"></p></td>
                    <td><p><img th:src="@{/img/csgo5.jpg}"></p></td>
                    <td><p><img th:src="@{/img/csgo6.jpg}"></p></td>
                    <td><p><img th:src="@{/img/csgo7.jpg}"></p></td>
                </tr>
            </table>
        </td>
            <td id="colee_left2" valign="top"></td>
        </tr>
    </table>
</div>

<div class="booth">
    <video id="video" width="400" height="300"></video>
    <br>
    <button onclick="funClose();" style="font-size: 15px;color: #2F4056">关闭摄像头</button>
</div>
<br>
<div class="booth">
    <canvas id='canvas' width='400' height='300'></canvas>
    <br>
    <button id='tack' style="font-size: 15px;color: #2F4056">截图拍照</button>
    <button onClick="saveFile(filename);" type="button" style="font-size: 15px;color: #2F4056">下载图片</button>
</div>

<!--下面是向左滚动代码-->

<script>
    //使用div时，请保证colee_left2与colee_left1是在同一行上.
    var speed=10//速度数值越大速度越慢
    var colee_left2=document.getElementById("colee_left2");
    var colee_left1=document.getElementById("colee_left1");
    var colee_left=document.getElementById("colee_left");
    colee_left2.innerHTML=colee_left1.innerHTML
    function Marquee3(){
        if(colee_left2.offsetWidth-colee_left.scrollLeft<=0)//offsetWidth 是对象的可见宽度
            colee_left.scrollLeft-=colee_left1.offsetWidth//scrollWidth 是对象的实际内容的宽，不包边线宽度
        else{
            colee_left.scrollLeft++
        }
    }
    var MyMar3=setInterval(Marquee3,speed)
    colee_left.onmouseover=function() {clearInterval(MyMar3)}
    colee_left.onmouseout=function() {MyMar3=setInterval(Marquee3,speed)}

<!--向左滚动代码结束-->


       //截图上传功能
    var type = 'png';

    var _fixType = function(type) {
        type = type.toLowerCase().replace(/jpg/i, 'jpeg');
        var r = type.match(/png|jpeg|bmp|gif/)[0];
        return 'image/' + r;
    };
    /**
     * @param  {String} filename 文件名
     */
    var saveFile = function(filename){
        //获取canvas标签里的图片内容
        var imgData = document.getElementById('canvas').toDataURL(type);
        imgData = imgData.replace(_fixType(type),'image/octet-stream');

        var save_link = document.createElementNS('http://www.w3.org/1999/xhtml', 'a');
        save_link.href = imgData;
        save_link.download = filename;

        var event = document.createEvent('MouseEvents');
        event.initMouseEvent('click', true, false, window, 0, 0, 0, 0, 0, false, false, false, false, 0, null);
        save_link.dispatchEvent(event);
    };

    // 下载后的文件名规则
    var filename = (new Date()).getTime() + '.' + type;



    var constrains = {video:{width:400,hight:300}};
    var mediaStreamTrack = null;

    var video = document.getElementById('video'),
        canvas = document.getElementById('canvas'),
        snap = document.getElementById('tack'),
        vendorUrl = window.URL || window.webkitURL;

    //关闭摄像头
    navigator.mediaDevices.getUserMedia(constrains)
        .then(function (mediaStram) {
            mediaStreamTrack = mediaStram.getTracks()[0];
            var video = document.querySelector("video");
            video.srcObject = mediaStram;
            video.onloadedmetadata = function (e) {
                video.play();
            };
        })
        .catch(function (err) { console.log(err.name+":"+err.message); });
    function funClose(){
        mediaStreamTrack.stop();
    }


    //媒体对象
    navigator.getMedia = navigator.getUserMedia ||
        navagator.webkitGetUserMedia ||
        navigator.mozGetUserMedia ||
        navigator.msGetUserMedia;
    navigator.getMedia({
        video: true, //使用摄像头对象
        audio: false  //不适用音频
    }, function(strem){
        console.log(strem);
        video.src = vendorUrl.createObjectURL(strem);
        video.play();
    }, function(error) {
        //error.code
        console.log(error);
    });

    //截图拍照功能
    snap.addEventListener('click', function(){
        //绘制canvas图形
        canvas.getContext('2d').drawImage(video, 0, 0, 400, 300);
        //把canvas图像转为img图片
        img.src = canvas.toDataURL("image/png");
    })


</script>
</body>
</html>









